<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="dekauliya.fyp.mathqa">

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="ocr"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk tools:overrideLibrary="gr.escsoft.michaelprimez.searchablespinner"/>

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="False"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SelectSubjectActivity_"
            android:label="@string/title_activity_select_subject"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchViews.SearchTextActivity"
            android:label="@string/title_activity_enter_text"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SearchViews.SearchFormulaActivity"
            android:label="@string/tf_insert_formula"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"/>
        <activity
            android:name=".SearchViews.SearchImageActivity_"
            android:label="@string/title_activity_image_preview"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CameraOcr.SelectOrCaptureImage_"/>
        </activity>
        <activity
            android:name=".DetailViews.ConceptDetailActivity_"
            android:label="@string/title_activity_concept_detail"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dekauliya.fyp.mathqa.TopicConceptActivity_"/>
        </activity>
        <activity
            android:name=".TopicConceptActivity_"
            android:label="@string/title_activity_real_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".DetailViews.QuestionDetailActivity_"
            android:label="@string/title_activity_question_detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".CameraOcr.SelectOrCaptureImage_">
        </activity>
        <activity android:name=".BaseActivity">
        </activity>
    </application>

</manifest>